/*
Color variables
..........................................................*/
/*........................................................*/
.auth {
  width: 100vw;
  height: 100vh;
  background-color: #062863;
  position: fixed;
}

.login {
  background-color: #062863;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -170px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 10;
}

.flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-logo {
  color: #ffffff;
  margin-bottom: 30px;
  text-align: center;
}

.register-logo {
  color: #ffffff;
  margin-bottom: 70px;
  text-align: center;
}

.login-header {
  text-align: center;
  margin-bottom: 30px;
}

.register {
  background-color: #062863;
  height: 100%;
  top: 20%;
  margin: -80px 0 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ring {
  width: 200px;
  height: 200px;
  margin: -30px 0 0 -80px;
  border: 30px solid #083e9e;
  border-radius: 50%;
}

.ring-two {
  width: 200px;
  height: 200px;
  margin: -70px -60px 0 0;
  border: 30px solid #083e9e;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
}

.ring-three {
  width: 200px;
  height: 200px;
  margin: -100px 0 0 -20px;
  border: 30px solid #083e9e;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.ring-four {
  width: 200px;
  height: 200px;
  margin: -100px -50px 0 0;
  border: 30px solid #083e9e;
  border-radius: 50%;
}

.base {
  margin-top: 40px;
}

.forgot-password {
  cursor: pointer;
  font-weight: bold;
}

.login-container {
  width: 450px;
  padding: 30px 40px 30px 40px;
  background-color: #ffffff;
  border-radius: 20px;
}

.login-container p {
  margin: -10px 0 10px 0;
  text-align: center;
}

.login-container .login-input {
  width: 100%;
  padding: 15px;
  font-size: 1.3rem;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: lightblue;
}

.login-container .login-input input {
  border: none;
  background-color: transparent;
  width: 100%;
}

.login-container .login-input input:focus {
  outline: none;
}

.login-container .auth-button {
  padding: 15px 20px 15px 20px;
  border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-color: #083e9e;
  color: #ffffff;
  cursor: pointer;
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

.login-container .auth-button:hover {
  background-color: #062863;
}

.register-auth {
  width: 100vw;
  height: 100vh;
  background-color: #062863;
  position: fixed;
  overflow-x: hidden;
}

@media screen and (max-width: 768px) {
  .auth {
    padding: 15px;
  }
  .auth {
    overflow-x: hidden;
  }
  .register-auth {
    padding: 200px 15px 100px 15px;
  }
  .ring-three {
    display: none;
  }
  .ring-four {
    display: none;
  }
  .login-container {
    width: 100% !important;
    padding: 20px;
  }
}
/*# sourceMappingURL=auth.css.map */