/*
Color variables
..........................................................*/
/*........................................................*/
.flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-logo {
  color: #ffffff;
  margin-bottom: 30px;
  text-align: center;
}

.register-logo {
  color: #ffffff;
  margin-bottom: 70px;
  text-align: center;
}

.login-header {
  text-align: center;
  margin-bottom: 30px;
}

.designs {
  height: 100vh;
  width: 100vw;
  background-color: #062863;
  overflow: hidden;
  position: fixed;
}

.designs .ring .ring-one {
  width: 200px;
  height: 200px;
  margin: -30px 0 0 -80px;
  border: 30px solid #083e9e;
  border-radius: 50%;
  top: 0;
  left: 0;
}

.designs .ring .ring-two {
  width: 200px;
  height: 200px;
  margin: -70px -60px 0 0;
  border: 30px solid #083e9e;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
}

.designs .ring .ring-three {
  width: 200px;
  height: 200px;
  margin: 0 0 0 -100px;
  border: 30px solid yellowgreen;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  position: absolute;
  bottom: -50px;
}

.designs .ring .ring-four {
  width: 200px;
  height: 200px;
  margin: 0 -100px 0 0;
  border: 30px solid green;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: -50px;
}

.designs .container-auth {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
  overflow-x: hidden;
  padding: 300px 50px 50px 70px;
}

.designs .login-auth {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
  overflow-x: hidden;
  padding: 50px;
}

.base {
  margin-top: 40px;
}

.forgot-password {
  cursor: pointer;
  font-weight: bold;
}

.login-container {
  width: 450px;
  padding: 30px 40px 30px 40px;
  background-color: #ffffff;
  border-radius: 20px;
}

.login-container p {
  margin: -10px 0 10px 0;
  text-align: center;
}

.login-container .auth-input {
  width: 100%;
  padding: 15px;
  font-size: 1.3rem;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: lightblue;
}

.login-container .auth-input input {
  border: none;
  background-color: transparent;
  width: 100%;
}

.login-container .auth-input input:focus {
  outline: none;
}

.login-container .auth-button {
  padding: 15px 20px 15px 20px;
  border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-color: #083e9e;
  color: #ffffff;
  cursor: pointer;
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

.login-container .auth-button:hover {
  background-color: #062863;
}

@media screen and (max-width: 768px) {
  .login-auth {
    width: 100% !important;
    padding: 10px !important;
  }
  .container-auth {
    width: 100%;
    padding: 200px 10px 150px 10px !important;
  }
  .login-container {
    width: 100%;
    padding: 20px;
  }
}

@media screen and (max-width: 480px) {
  .container-auth {
    width: 100%;
    padding: 400px 15px 50px 15px !important;
  }
  .login-auth {
    width: 100%;
    padding: 200px 15px 100px 15px !important;
  }
}
/*# sourceMappingURL=auth.css.map */