@import "../../sass-styles/mixins";
@import "../../sass-styles/breakpoints";

.flex-between {
  @include flex-between;
}

.login-logo {
  color: $primary-color;
  margin-bottom: 30px;
  text-align: center;
}

.register-logo {
  color: $primary-color;
  margin-bottom: 70px;
  text-align: center;
}

.login-header {
  text-align: center;
  margin-bottom: 30px;
}

.designs {
  height: 100vh;
  width: 100vw;
  background-color: $background-color;
  overflow: hidden;
  position: fixed;

  .ring {
    .ring-one {
      width: 200px;
      height: 200px;
      margin: -30px 0 0 -80px;
      border: 30px solid $secondary-color;
      border-radius: 50%;
      top: 0;
      left: 0;
    }
    .ring-two {
      width: 200px;
      height: 200px;
      margin: -70px -60px 0 0;
      border: 30px solid $secondary-color;
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
      border-top-left-radius: 50%;
      position: absolute;
      top: 0;
      right: 0;
    }
    .ring-three {
      width: 200px;
      height: 200px;
      margin: 0 0 0 -100px;
      border: 30px solid yellowgreen;
      border-top-left-radius: 50%;
      border-bottom-right-radius: 50%;
      border-bottom-left-radius: 50%;
      position: absolute;
      bottom: -50px;
    }
    .ring-four {
      width: 200px;
      height: 200px;
      margin: 0 -100px 0 0;
      border: 30px solid green;
      border-radius: 50%;
      position: absolute;
      right: 0;
      bottom: -50px;
    }
  }

  .container-auth {
    @include auth-container;
    padding: 300px 50px 50px 70px;
  }

  .login-auth {
    @include auth-container;
    padding: 50px;
  }
}

.base {
  margin-top: 40px;
}

.forgot-password {
  cursor: pointer;
  font-weight: bold;
}

.login-container {
  width: 450px;
  padding: 30px 40px 30px 40px;
  background-color: $primary-color;
  border-radius: 20px;

  p {
    margin: -10px 0 10px 0;
    text-align: center;
  }

  .auth-input {
    width: 100%;
    padding: 15px;
    font-size: 1.3rem;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: lightblue;

    input {
      border: none;
      background-color: transparent;
      width: 100%;
      &:focus {
        outline: none;
      }
    }
  }

  .auth-button {
    @include custom-button;
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
  }
}

@include media-sm {
  .login-auth {
    width: 100% !important;
    padding: 15px !important;
  }

  .container-auth {
    width: 100%;
    padding: 300px 15px 100px 15px !important;
  }

  .login-container {
    width: 100%;
    padding: 20px;
  }
}

@include media-xsm {
  .container-auth {
    width: 100%;
    padding: 400px 15px 10px 15px !important;
  }

  .login-auth {
    width: 100%;
    padding: 100px 15px 10px 15px !important;
  }
}
