@import "../../sass-styles/breakpoints";
@import "../../sass-styles/mixins";
@import "../../sass-styles/variables";

.auth-saving {
  padding: 50px;

  .save-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;

    .banner {
      width: 250px;
      height: 140px;
      margin-right: 50px;
      background-color: $light-secondary;
      border-radius: 10px;
    }

    .total-balance {
      @include custom-border-radius;
      border: 1px solid $secondary-color;
      width: 60%;
      height: 140px;
      margin-top: 15px;
    }
  }

  .save-options {
    width: 100%;
    @include flex-start-center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    margin: 10px 0 0 -10px;

    div {
      width: 300px;
      height: 200px;
      border-radius: 10px;
    }

    div:nth-child(1) {
      background-color: rgb(202, 216, 241);
    }
    div:nth-child(2) {
      background-color: rgb(243, 223, 223);
    }
    div:nth-child(3) {
      background-color: rgb(219, 243, 243);
    }
    div:nth-child(4) {
      background-color: rgb(201, 243, 211);
    }
    div:nth-child(5) {
      background-color: rgb(185, 186, 241);
    }
  }
}

@include media-sm {
  .auth-saving {
    width: 100vw;
    overflow: hidden;
    padding: 0;
    margin-left: -10px;
  }

  .build {
    width: 100%;
  }

  .save-header {
    gap: 10px !important;
    padding: 10px;
    .banner,
    .total-balance {
      width: 100% !important;
    }
  }

  .save-options {
    margin: 10px 0 50px 0px !important;
    div {
      width: 100% !important;
    }
  }
}
