/*
Color variables
..........................................................*/
/*........................................................*/
/*
Color variables
..........................................................*/
/*........................................................*/
.auth-saving {
  padding: 50px;
}

.auth-saving .dash-title {
  font-weight: 600;
}

.auth-saving .tbs {
  margin-top: 30px;
  font-size: 3rem;
  font-weight: bolder;
}

.auth-saving .save-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}

.auth-saving .save-header .banner {
  width: 250px;
  height: 140px;
  margin-right: 50px;
  background-color: #9eddff;
  border-radius: 10px;
  border: 1px solid #9eddff;
  overflow: hidden;
}

.auth-saving .save-header .banner img {
  max-width: 100%;
  max-height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.auth-saving .save-header .total-balance {
  padding: 15px 20px 15px 20px;
  border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border: 1px solid #083e9e;
  width: 60%;
  height: 140px;
  margin-top: 15px;
}

.auth-saving .save-options {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
  margin: 10px 0 0 -10px;
}

.auth-saving .save-options div {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #083e9e;
  cursor: pointer;
}

.auth-saving .save-options div:nth-child(1) {
  background-color: #cad8f1;
}

.auth-saving .save-options div:nth-child(1):hover {
  background-color: #9eddff;
}

.auth-saving .save-options div:nth-child(2) {
  background-color: #f3dfdf;
}

.auth-saving .save-options div:nth-child(2):hover {
  background-color: #9eddff;
}

.auth-saving .save-options div:nth-child(3) {
  background-color: #dbf3f3;
}

.auth-saving .save-options div:nth-child(3):hover {
  background-color: #9eddff;
}

.auth-saving .save-options div:nth-child(4) {
  background-color: #c9f3d3;
}

.auth-saving .save-options div:nth-child(4):hover {
  background-color: #9eddff;
}

.auth-saving .save-options div:nth-child(5) {
  background-color: #b9baf1;
}

.auth-saving .save-options div:nth-child(5):hover {
  background-color: #9eddff;
}

@media screen and (max-width: 768px) {
  .auth-saving {
    width: 100vw;
    overflow: hidden;
    padding: 0;
    margin-left: -10px;
  }
  .tbs {
    font-size: 2rem;
  }
  .build {
    width: 100%;
  }
  .save-header {
    gap: 10px !important;
    padding: 10px;
  }
  .save-header .banner,
  .save-header .total-balance {
    width: 100% !important;
  }
  .save-options {
    margin: 10px 0 50px 0px !important;
  }
  .save-options div {
    width: 100% !important;
  }
}
/*# sourceMappingURL=saving.css.map */