@import "../../sass-styles/breakpoints";
@import "../../sass-styles/mixins";
@import "../../sass-styles/variables";

.auth-saving {
  padding: 50px;

  .dash-title {
    font-weight: 600;
  }

  .tbs {
    margin-top: 30px;
    font-size: 3rem;
    font-weight: bolder;
  }

  .save-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;

    .banner {
      width: 250px;
      height: 140px;
      margin-right: 50px;
      background-color: $light-secondary;
      border-radius: 10px;
      border: 1px solid $light-secondary;
      overflow: hidden;
      img {
        max-width: 100%;
        max-height: auto;
        object-fit: cover;
      }
    }

    .total-balance {
      @include custom-border-radius;
      border: 1px solid $secondary-color;
      width: 60%;
      height: 140px;
      margin-top: 15px;
    }
  }

  .save-options {
    width: 100%;
    @include flex-start-center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    margin: 10px 0 0 -10px;

    #savelink {
      text-decoration: none;
      background-color: transparent;
    }

    div {
      width: 300px;
      height: 200px;
      border-radius: 10px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      padding: 15px;
      font-weight: bold;
      color: $secondary-color;
      cursor: pointer;
    }

    div:nth-child(1) {
      background-color: rgb(202, 216, 241);
      &:hover {
        background-color: $light-secondary;
      }
    }
    div:nth-child(2) {
      background-color: rgb(243, 223, 223);
      &:hover {
        background-color: $light-secondary;
      }
    }
    div:nth-child(3) {
      background-color: rgb(219, 243, 243);
      &:hover {
        background-color: $light-secondary;
      }
    }
    div:nth-child(4) {
      background-color: rgb(201, 243, 211);
      &:hover {
        background-color: $light-secondary;
      }
    }
    div:nth-child(5) {
      background-color: rgb(241, 215, 185);
      &:hover {
        background-color: $light-secondary;
      }
    }
  }
}

@include media-sm {
  .auth-saving {
    width: 100vw;
    overflow: hidden;
    padding: 0 10px 0 10px !important;
    padding: 0;
    margin-left: -10px;
  }

  .tbs {
    font-size: 2rem;
  }

  .build {
    width: 100%;
  }

  .save-header {
    gap: 30px !important;
    padding: 10px;
    .banner,
    .total-balance {
      width: 100% !important;
    }
  }

  .save-options > * + * {
    margin: 15px 0 0 0 !important;
  }

  .save-options {
    margin: 10px 0 50px 0px !important;
    div {
      width: 100% !important;
    }
  }
}
