@import "./variables";

@mixin font {
  font-weight: bold;
  color: $secondary-color;
  cursor: pointer;
  font-weight: bolder;
  font-size: Lexend;
}

label {
  font-weight: bold;
}

h1 {
  @include font;
  font-size: clamp(2.5rem, 7vw, 3.5rem);
}

h2 {
  @include font;
  font-size: clamp(1.8rem, 1.8vw, 3.5rem);
  font-weight: 900;
}

div {
  font-family: "Lexend";
}

p {
  font-size: Lexend;
  font-size: clamp(1.3rem, 1.2vw, 3rem);
  line-height: 25px;
}
