@import "./variables";

h1 {
  font-size: Lexend;
  font-size: clamp(2rem, 7vw, 3.5rem);
  font-weight: bold;
  color: $secondary-color;
  cursor: pointer;
  font-weight: bolder;
}

div {
  font-family: "Lexend";
}

p {
  font-size: Lexend;
  font-size: clamp(1rem, 1.2vw, 3rem);
  line-height: 25px;
}
