/*
Color variables
..........................................................*/
$primary-color: #ffffff;
$black-color: #000000;
$secondary-color: #083e9e;
$background-color: #062863;
$adrk-grey: #3a495c;
$light-grey: #f3f4f6;
$light-secondary: #9eddff;
/*........................................................*/
