@import "../../../sass-styles/variables";
@import "../../../sass-styles/mixins";
@import "../../../sass-styles/breakpoints";
@import "../../../sass-styles/typography";

.custom-card {
  @include custom-border-radius;
  padding: 0;
  border: 1px solid rgb(182, 181, 181);
}

.custom-card-right {
  @include custom-border-radius;
  padding: 10px;
  border: 1px solid rgb(182, 181, 181);
  margin: 0 0 20px 0;

  div {
    margin-top: 5px;
  }

  .interest {
    color: $secondary-color;
    font-size: 1.7rem;
    font-weight: bold;
  }
}

.custom-card-autosave {
  @include custom-border-radius;
  border: 1px solid rgb(182, 181, 181);
  margin: 0 0 20px 0;
  padding: 0;

  div {
    margin-top: 5px;
  }

  .card-header {
    padding: 10px;
  }

  .autosave-btn {
    @include custom-border-radius;
    border: 1px solid rgb(182, 181, 181);
    width: 150px;
    padding: 5px;
    cursor: pointer;
    background: transparent;
  }
}

.header-options {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 15px;
}

.first-card {
  width: 60%;
  margin-bottom: 50px;
}

.safelock-header {
  @include custom-border-radius;
  border: 1px solid rgb(182, 181, 181);
  padding: 5px;
  cursor: pointer;
}

.active-safelock {
  border-top: 1px solid rgb(182, 181, 181);
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;

  width: 100%;
  gap: 40px;
  cursor: pointer;
  overflow: hidden;
  padding: 10px 10px 5px 10px;
  margin-top: 20px;

  .flex-content {
    width: 100%;
  }

  .first {
    display: flex;
    gap: 10px;
  }
}

.trans {
  padding: 10px;
}

.active {
  background-color: $secondary-color;
  color: $primary-color;
}

.second-card {
  width: 35%;
  .info {
    text-align: center;
  }
}

.amount-text {
  @include font;
  font-size: 2rem;
  font-weight: bolder;
}

.card-container {
  width: 100%;
  @include flex-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.flex-bottom-card {
  @include flex-bottom-card;

  div {
    width: 100%;
    height: 100%;
    @include flex-center;
    text-align: center;

    cursor: pointer;
    &:hover {
      color: $secondary-color;
    }
  }

  #iconed {
    margin-top: -5px;
  }

  div:nth-child(1) {
    border-right: 1px solid rgb(182, 181, 181);
  }
  div:nth-child(2) {
    border-right: 1px solid rgb(182, 181, 181);
  }
  div:nth-child(3) {
    &:hover {
      color: $secondary-color;
    }
  }
}

.drops {
  margin-bottom: 20px;
}

.show-autosave {
  display: flex;
  gap: 10px;
}

.autosave-banner-settings {
  width: 100%;
  padding: 25px;
  @include custom-border-radius;
  @include flex-start-center;
  margin-bottom: 30px;
  gap: 10px;
  border: 1px solid rgb(182, 181, 181);
  cursor: pointer;
}

.autosave-banner {
  width: 100%;
  padding: 20px;
  @include custom-border-radius;
  @include flex-start;
  margin-bottom: 30px;
  background-color: $secondary-color;
  color: $primary-color;
}

h4 {
  font-size: 1.2rem;
}

.base {
  margin-top: -15px;
}

.custom-card-header {
  padding: 10px;
  div:nth-child(1) {
    margin-bottom: 15px;
  }
}

.flex-between {
  @include flex-between;
}

.quick-save-btn {
  @include custom-button;
}

@include media-lg {
  .first-card {
    width: 100%;
  }

  .second-card {
    width: 100%;
    margin-top: 20px;
    .info {
      display: none;
    }
  }
}

@include media-sm {
  .active-safelock {
    flex-wrap: wrap;
    gap: 10px;

    .icon {
      display: none;
    }
  }
}
