@import "../../sass-styles/breakpoints";
@import "../../sass-styles/mixins";
@import "../../sass-styles/variables";

.auth-saving-features {
  padding: 50px;

  h3,
  p {
    text-align: center;
  }
}

.total-balance {
  @include custom-border-radius;
  border: 1px solid $secondary-color;
  width: 60%;
  height: 140px;
  margin-top: 15px;

  .tbs {
    margin-top: 30px;
    font-size: 3rem;
    font-weight: bolder;
  }
}

#icon-back {
  margin-bottom: 30px;
}

@include media-sm {
  .auth-saving-features {
    padding: 20px;
    margin-left: -10px;
  }
}
