@import "../../../../../sass-styles/mixins";
@import "../../../../../sass-styles/variables";
@import "../../../../../sass-styles/breakpoints";

.safelock-options {
  @include flex-between;
  @include custom-border-radius;
  border: 1px solid rgb(182, 181, 181);
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  flex-wrap: wrap;
  gap: 5px;

  div:nth-child(1) {
    font-size: 1.4rem;
    font-weight: bold;
  }
}

.dateOfBirth {
  width: 100%;
  #dateOfBirth-lock {
    margin-bottom: 10px;
    width: 410px;
    border-radius: 10px;
  }
}

.safelockinfo-container {
  width: 100%;
  @include custom-border-radius;
  overflow: auto;
  overflow-x: hidden;

  img {
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
  }
}

@include media-sm {
  .dateOfBirth {
    #dateOfBirth-lock {
      margin-bottom: 10px;
      width: 330px;
      border-radius: 10px;
    }
  }
}
