@import "../../sass-styles/breakpoints";
@import "../../sass-styles/mixins";
@import "../../sass-styles/variables";
@import "../../sass-styles/animation";

.auth-home {
  padding: 50px 50px 0 50px;
  .flex-between {
    @include flex-between;
    .quick-save-btn {
      @include custom-button;
    }
    .quick-buzz-btn {
      @include custom-button;
      background-color: transparent;
      border: 1px solid $secondary-color;
      color: $secondary-color;

      &:hover {
        color: $primary-color;
      }
    }
  }

  .dash-title {
    font-weight: 600;
    margin-bottom: 40px;
  }

  .flex-home-btns {
    display: flex;
  }

  .flex-home-btns > * + * {
    margin: 0 0 0 10px;
  }

  .todo {
    font-weight: 600;
  }

  #refresh {
    color: $secondary-color;
    cursor: pointer;
  }

  .home-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    margin-top: 20px;
    width: 100%;

    .banner {
      height: 150px;
      margin: 5px 0 20px 0;
      border-radius: 10px;
      background-color: $light-secondary;
      border: 1px solid $light-secondary;
      overflow: hidden;
      cursor: pointer;

      img {
        max-height: 100%;
        width: 392px;
        object-fit: cover;
      }
    }
  }

  .auth-options {
    @include auth-options;
    height: 60px;
  }

  .auth-recent {
    @include auth-options;
  }

  .flex-between-recent > * + * {
    margin: 0 0 0 20px;
  }

  .flex-recent > * + * {
    margin: 0 0 0 10px;
  }

  .flex-between-recent {
    @include flex-between;
    padding: 10px 0 10px 0;
    width: 100%;

    .flex-recent {
      display: flex;
    }

    #icon {
      margin-top: 10px;
    }
  }

  .recent-activities {
    margin-top: 50px;
  }

  .mobile-button {
    width: 170px;
    height: 50px;
    padding: 0 5px 0 5px !important;
    @include custom-border-radius;
    background-color: $black-color;
    color: $primary-color;
    cursor: pointer;
    @include flex-center;
  }

  .flex-start {
    @include flex-start;
    margin: 5px 0 20px 0;
    flex-wrap: wrap;
  }

  .flex-start-button {
    @include flex-between;
    margin: 5px 0 20px 0;
    flex-wrap: wrap;
  }

  .flex-start-button > * + * {
    margin: 0 0 0 15px;
  }
}

.conn {
  width: 21.3vw;
  border-radius: 10px;
  max-height: 150px;
  display: inline-block;
  color: $primary-color;
  font-size: 1.6rem;
  font-weight: bolder;

  .flex-start {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 25px;
  }
}

div.header-home {
  margin-top: 20px;
  overflow: auto;
  white-space: nowrap;

  .tb {
    height: 100%;
    padding: 20px;
    border-radius: 15px;
    background-color: #0d60d8;
  }
  .ti {
    height: 100%;
    border-radius: 10px;
    padding: 20px;
    background-color: #7d1ae6;
    margin-left: 15px;
  }
  .cns {
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: #222222;
    margin-left: 15px;
  }
  .ab {
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid $secondary-color;
    color: $secondary-color;
    background-color: $primary-color;
    margin-left: 15px;
  }
}

#show-modal-payment {
  @include main-modal;
  background: transparent;
}

#show-modal-picture {
  @include main-modal;
}

.dateOfBirth {
  width: 100%;
  //overflow: hidden;

  #dateOfBirth {
    margin-bottom: 10px;
    width: 390px;
    border-radius: 10px;
  }
}

.bvn-content {
  height: 350px;
  overflow: auto;
  padding-right: 10px;
  overflow-x: hidden;
}

.modal-container {
  width: 36%;
  height: 100%;
  right: 0;
  position: absolute;
  background-color: $primary-color;
}

@include media-sm {
  .auth-home {
    padding: 20px 20px 50px 15px;
    overflow: hidden;
    margin-left: -5px;
    width: 100vw;
  }

  .modal-container {
    width: 100% !important;
    top: 0;
  }

  #dateOfBirth {
    width: 310px !important;
  }

  .quick-buzz-btn {
    display: none;
  }

  .conn {
    width: 80vw;
  }

  .todo-container,
  .info-container {
    width: 100%;
  }

  .banner {
    img {
      width: 100% !important;
    }
  }

  .flex-start > * + * {
    margin: 15px 0 0 0 !important;
  }

  .flex-start-button {
    justify-content: flex-start !important;
    align-items: flex-start !important;
  }

  .flex-start-button {
    flex-direction: column;
  }

  .flex-start-button > * + * {
    margin: 15px 0 0 0 !important;
  }

  .home-flex > * + * {
    margin: 20px 0 0 0 !important;
  }

  .home-flex {
    .auth-options,
    .auth-recent {
      width: 100%;
    }
  }

  .bvn-content {
    height: 100%;
  }
}
