/*
Color variables
..........................................................*/
/*........................................................*/
/*
Color variables
..........................................................*/
/*........................................................*/
@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  53% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  53% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

.auth-home {
  padding: 50px 50px 0 50px;
}

.auth-home .flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-home .flex-between .quick-save-btn {
  padding: 15px 20px 15px 20px;
  border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-color: #083e9e;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  border: none;
}

.auth-home .flex-between .quick-save-btn:hover {
  background-color: #062863;
}

.auth-home .flex-between .quick-save-btn:focus {
  outline: none;
}

.auth-home .flex-between .quick-save-btn:disabled {
  cursor: not-allowed;
}

.auth-home .dash-title {
  font-weight: 600;
}

.auth-home #refresh {
  color: #083e9e;
  cursor: pointer;
}

.auth-home .home-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  margin-top: 20px;
  width: 100%;
}

.auth-home .home-flex .banner {
  height: 150px;
  margin: 5px 0 20px 0;
  border-radius: 10px;
  background-color: #9eddff;
  border: 1px solid #9eddff;
  overflow: hidden;
}

.auth-home .home-flex .banner img {
  max-height: 100%;
  width: 392px;
  -o-object-fit: cover;
     object-fit: cover;
}

.auth-home .auth-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-weight: 500;
  font-size: 1.1rem;
  border: 1px solid #083e9e;
  width: 400px;
  padding: 15px 20px 15px 20px;
  border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  margin-top: 15px;
  height: 60px;
  cursor: pointer;
}

.auth-home .auth-options #icon {
  font-size: 1.3rem;
}

.auth-home .mobile-button {
  padding: 5px 10px 5px 10px;
  padding: 15px 20px 15px 20px;
  border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-home .flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 5px 0 20px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 45px;
}

.conn {
  width: 21.3vw;
  border-radius: 10px;
  max-height: 150px;
  display: inline-block;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: bolder;
}

.conn .flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}

div.header-home {
  margin-top: 20px;
  overflow: auto;
  white-space: nowrap;
}

div.header-home .tb {
  height: 100%;
  padding: 20px;
  border-radius: 15px;
  background-color: #0d2758;
}

div.header-home .ti {
  height: 100%;
  border-radius: 10px;
  padding: 20px;
  background-color: #ca0909;
  margin-left: 15px;
}

div.header-home .cns {
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: #64020f;
  margin-left: 15px;
}

div.header-home .ab {
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: #086d21;
  margin-left: 15px;
}

@media screen and (max-width: 768px) {
  .auth-home {
    padding: 20px 10px 50px 10px;
    overflow: hidden;
    margin-left: -10px;
    width: 100vw;
  }
  .conn {
    width: 80vw;
  }
  .todo-container,
  .info-container {
    width: 100%;
  }
  .flex-start {
    gap: 10px !important;
  }
  .home-flex {
    gap: 10px !important;
  }
  .home-flex .auth-options {
    width: 100%;
  }
}
/*# sourceMappingURL=homepage.css.map */