@import "../../sass-styles/breakpoints";
@import "../../sass-styles/mixins";
@import "../../sass-styles/variables";
@import "../../sass-styles/animation";

.auth-home {
  padding: 50px 50px 0 50px;
  .flex-between {
    @include flex-between;
    .quick-save-btn {
      @include custom-button;
    }
  }

  .dash-title {
    font-weight: 600;
  }

  #refresh {
    color: $secondary-color;
    cursor: pointer;
  }

  .home-flex {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap-reverse;
    margin-top: 20px;
    width: 100%;

    .banner {
      height: 150px;
      margin: 5px 0 20px 0;
      border-radius: 10px;
      background-color: $light-secondary;
      border: 1px solid $light-secondary;
      overflow: hidden;

      img {
        max-height: 100%;
        width: 392px;
        object-fit: cover;
      }
    }
  }

  .auth-options {
    @include flex-start-center;
    gap: 20px;
    font-weight: 500;
    font-size: 1.1rem;
    border: 1px solid $secondary-color;
    width: 400px;
    @include custom-border-radius;
    margin-top: 15px;
    height: 60px;
    cursor: pointer;
    #icon {
      font-size: 1.3rem;
    }
  }

  .mobile-button {
    padding: 5px 10px 5px 10px;
    @include custom-border-radius;
    background-color: $black-color;
    color: $primary-color;

    cursor: pointer;
    @include flex-center;
  }

  .flex-start {
    @include flex-start;
    margin: 5px 0 20px 0;
    flex-wrap: wrap;
    gap: 45px;
  }
}

.conn {
  width: 21.3vw;
  border-radius: 10px;
  max-height: 150px;
  display: inline-block;
  color: $primary-color;
  font-size: 1.6rem;
  font-weight: bolder;

  .flex-start {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 25px;
  }
}

div.header-home {
  margin-top: 20px;
  overflow: auto;
  white-space: nowrap;

  .tb {
    height: 100%;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(13, 39, 88);
  }
  .ti {
    height: 100%;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(202, 9, 9);
    margin-left: 15px;
  }
  .cns {
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(100, 2, 15);
    margin-left: 15px;
  }
  .ab {
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(8, 109, 33);
    margin-left: 15px;
  }
}

#show-modal-payment {
  @include main-modal;
  background: transparent;
}

#show-modal-picture {
  @include main-modal;
}

.modal-container {
  width: 36%;
  height: 100%;
  right: 0;
  position: absolute;
  background-color: $primary-color;
}

@include media-sm {
  .auth-home {
    padding: 20px 10px 50px 10px;
    overflow: hidden;
    margin-left: -10px;
    width: 100vw;
  }

  .modal-container {
    width: 100% !important;

    top: 0;
  }

  .conn {
    width: 80vw;
  }

  .todo-container,
  .info-container {
    width: 100%;
  }

  .flex-start {
    gap: 10px !important;
  }

  .home-flex {
    gap: 10px !important;
    .auth-options {
      width: 100%;
    }
  }
}
