@import "../../../sass-styles/breakpoints";
@import "../../../sass-styles/mixins";
@import "../../../sass-styles/variables";

.dashboard-main {
  height: 100vh;
  @include flex-center;

  .message-show {
    width: 300px;
    padding: 10px;
    background-color: $primary-color;
    border: 1px solid lightgreen;
    margin: -5px 10px 0 0;
    border-left: 5px solid green;
    transition: all width 1s;
    z-index: 20;
    position: absolute;
    position: fixed;
    right: 0;

    span {
      color: green;
    }
  }

  .main-mobile {
    margin-left: 75px;
    padding: 80px 0 50px 10px;
  }

  .main {
    margin-left: 250px;
    padding: 80px 0 50px 10px;
  }

  .sidebar-dash {
    @include custom-sidebar;
    width: 250px;
  }

  .sidebar-dash-mobile {
    @include custom-sidebar;
    width: 75px;
  }

  .dashboard-content {
    height: 100vh;
    width: 100%;
  }
}

.main-footer {
  display: none;
}

@include media-sm {
  .main-footer {
    @include flex-center;
    color: $primary-color;
    z-index: 10;
    bottom: 0;
    padding: 20px;
    height: 60px;
    width: 100%;
    background-color: $background-color;
    position: fixed;
    cursor: pointer;
    overflow: hidden;

    .flex-footer {
      @include flex-between;

      width: 100%;
      gap: 20px;

      .icon:hover {
        color: $primary-color;
      }
    }
  }

  .sidebar-dash,
  .sidebar-dash-mobile {
    display: none;
  }

  .message-show {
    width: 100vw !important;
    padding: 20px 10px 30px 20px !important;
    bottom: 0;
    margin: 0 !important;
  }

  .main,
  .main-mobile {
    margin: 0 !important;
  }
}
