@import "../../../sass-styles/breakpoints";
@import "../../../sass-styles/mixins";
@import "../../../sass-styles/variables";

.dashboard-main {
  height: 100vh;
  @include flex-center;

  .main-mobile {
    margin-left: 75px;
    padding: 80px 0 50px 10px;
  }

  .main {
    margin-left: 250px;
    padding: 80px 0 50px 10px;
  }

  .sidebar-dash {
    @include custom-sidebar;
    width: 250px;
  }

  .sidebar-dash-mobile {
    @include custom-sidebar;
    width: 75px;
  }

  .dashboard-content {
    height: 100vh;
    width: 100%;
  }
}

.main-footer {
  display: none;
}

@include media-sm {
  .main-footer {
    @include flex-center;
    color: $primary-color;
    bottom: 0;
    padding: 20px;
    height: 60px;
    width: 100%;
    background-color: $background-color;
    position: fixed;
    cursor: pointer;
    overflow: hidden;

    .flex-footer {
      @include flex-between;
      width: 100%;
      gap: 20px;

      .icon:hover {
        color: $primary-color;
      }
    }
  }

  .sidebar-dash,
  .sidebar-dash-mobile {
    display: none;
  }

  .main,
  .main-mobile {
    margin: 0 !important;
  }
}
