@import "../../sass-styles/breakpoints";
@import "../../sass-styles/mixins";
@import "../../sass-styles/variables";

.auth-notification {
  padding: 50px;

  h3,
  p {
    text-align: center;
  }

  .custom-card {
    @include custom-border-radius;
    border: 1px solid rgb(182, 181, 181);
    padding: 0;

    .trans {
      padding: 20px;
    }

    .header-options {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
    }

    .flex-header {
      @include flex-between;
      flex-wrap: wrap;
      gap: 15px;
      margin-top: 20px;
    }

    .notification-header {
      @include custom-border-radius;
      border: 1px solid rgb(182, 181, 181);
      padding: 5px;
      cursor: pointer;
    }
  }

  .amount-base {
    margin-top: 20px;
  }

  .secondary-color {
    color: $secondary-color;
    font-size: 1.2rem;
  }

  .active {
    background-color: $secondary-color;
    color: $primary-color;
  }

  .flex-bottom-card {
    @include flex-bottom-card;
  }

  .flex-between {
    @include flex-between;
    margin-top: 10px;
  }

  .status-color {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: green;
  }
}

@include media-sm {
  .auth-notification {
    padding: 10px;
    margin-left: -10px;
  }

  .custom-card {
    margin-bottom: 20px;

    .status-color {
      margin-top: 10px;
    }
  }
}
