@import "../../../sass-styles/breakpoints";
@import "../../../sass-styles/mixins";
@import "../../../sass-styles/variables";

.navbar {
  @include custom-navbar;
  z-index: 10;
  margin-left: 250px;
  padding-right: 275px;
}

.avatar-banter {
  @include avatar-image;
  width: 55px;
  height: 55px;
  @include flex-center;
  color: $primary-color;
  font-size: 1.3rem;
  font-weight: bolder;
}

.navbar-mobile {
  @include custom-navbar;
  margin-left: 75px;
  padding-right: 100px;
}

.side-link {
  color: $primary-color;
}

.tooltip {
  position: relative;
  display: inline-block;

  .tooltiptext {
    visibility: hidden;
    background-color: $secondary-color;
    color: $primary-color;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    z-index: 1;
  }

  &:hover .tooltiptext {
    visibility: visible;
  }
}

.greeting {
  margin-top: -15px;
  font-family: Lexend;
  font-weight: bold;
}

.flex-logout {
  margin-top: 120px;
  color: $primary-color;
  cursor: pointer;
}

.flex {
  @include flex-start-center;
  gap: 30px;
  margin-top: 50px;

  &:hover {
    color: $primary-color;
  }
}

@include media-sm {
  .navbar,
  .navbar-mobile {
    margin: 0;
    padding-right: 10px;
    .header {
      padding: 0;
    }
  }

  #nav-icon {
    display: none;
  }
}
