/*
Color variables
..........................................................*/
/*........................................................*/
/*
Color variables
..........................................................*/
/*........................................................*/
.navbar {
  width: 100%;
  height: 70px;
  background-color: white;
  -webkit-box-shadow: rgba(79, 79, 79, 0.07) 0px 4px 10px;
          box-shadow: rgba(79, 79, 79, 0.07) 0px 4px 10px;
  position: fixed;
  -webkit-transition: width 200ms ease-in-out;
  transition: width 200ms ease-in-out;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  margin-left: 250px;
  padding-right: 275px;
}

.navbar .header {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding-left: 10px;
  cursor: pointer;
  color: #083e9e;
}

.avatar-banter {
  border-radius: 50px;
  background-color: #083e9e;
  margin-top: 5px;
  cursor: pointer;
  overflow: hidden;
  width: 55px;
  height: 55px;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: bolder;
}

.avatar-banter img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.navbar-mobile {
  width: 100%;
  height: 70px;
  background-color: white;
  -webkit-box-shadow: rgba(79, 79, 79, 0.07) 0px 4px 10px;
          box-shadow: rgba(79, 79, 79, 0.07) 0px 4px 10px;
  position: fixed;
  -webkit-transition: width 200ms ease-in-out;
  transition: width 200ms ease-in-out;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 75px;
  padding-right: 100px;
}

.navbar-mobile .header {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding-left: 10px;
  cursor: pointer;
  color: #083e9e;
}

.side-link {
  color: #ffffff;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #083e9e;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.greeting {
  margin-top: -15px;
  font-family: Lexend;
  font-weight: bold;
}

.flex-logout {
  margin-top: 120px;
  color: #ffffff;
  cursor: pointer;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-top: 50px;
}

.flex:hover {
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .navbar,
  .navbar-mobile {
    margin: 0;
    padding-right: 10px;
  }
  .navbar .header,
  .navbar-mobile .header {
    padding: 0;
  }
  #nav-icon {
    display: none;
  }
}
/*# sourceMappingURL=util.css.map */