@import "../../sass-styles/mixins";
@import "../../sass-styles/animation";
@import "../../sass-styles/breakpoints";

.preloader {
  @include flex-center;
  height: 100vh;
  width: 100vw;
  background-color: $background-color;
}

.preloader-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  @include loader;
}

@include media-sm {
  .preloader-ring {
    margin-left: 60px;
  }
}
