@import "../sass-styles/variables";
@import "../sass-styles/mixins";
@import "../sass-styles/breakpoints";

.modal-div,
.modal-div-pay {
  height: 600px;
  padding: 20px;
  //padding: 0;
  background-color: $primary-color;

  .bottom-card {
    margin-top: 20px;
  }

  .content {
    //background-color: red;
    overflow: auto;
    overflow-x: hidden;
    height: 300px;
    padding: 10px 10px 10px 0;
  }

  .flex-buttons {
    @include flex-center;
    gap: 10px;
  }

  .flex-center {
    @include flex-center;
    flex-direction: column;

    .form-save {
      margin-top: 60px;
    }

    .desc {
      text-align: center;
      font-family: Lexend;
      font-weight: bolder;
      font-size: 1.8rem;
      color: $secondary-color;
      margin-top: -30px;
      line-height: 30px;
    }
  }

  .flex-between {
    width: 100%;
    @include flex-between;
    flex-wrap: wrap-reverse;

    .icon {
      cursor: pointer;
      color: $secondary-color;
      font-size: 1.7rem;
    }
  }

  .form-save {
    padding: 50px 20px 50px 20px;
    .info-header {
      margin-bottom: 50px;
    }
    .desc {
      margin-top: -10px;
    }
    label {
      margin-bottom: 15px;
    }

    #icon {
      color: $secondary-color;
    }
  }

  .drops {
    margin-top: 5px;
  }

  .auth-input {
    width: 100%;
    padding: 15px;
    font-size: 1.3rem;
    height: 50px;
    margin: 5px 0 10px 0;
    border-radius: 10px;
    background-color: rgb(204, 223, 230);

    input {
      border: none;
      background-color: transparent;
      width: 100%;
      &:focus {
        outline: none;
      }
    }
  }

  .auth-button {
    @include custom-button;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 10px;
  }

  .cancels {
    background-color: transparent;
    border: 1px solid $secondary-color;
    color: $secondary-color;
    &:hover {
      color: $primary-color;
    }
  }
}

.auth-options {
  @include flex-start-center;
  gap: 20px;
  font-weight: 500;
  font-size: 1.1rem;
  border: 1px solid $secondary-color;
  @include custom-border-radius;
  margin-top: 15px;
  height: 50px;
  cursor: pointer;
  #icon {
    font-size: 1.3rem;
  }
}

.confirm-payment {
  @include flex-center;
}

@include media-sm {
  .flex-between {
    gap: 10px;
  }
}
