/*
Color variables
..........................................................*/
/*........................................................*/
/*
Color variables
..........................................................*/
/*........................................................*/
.modal-div,
.modal-div-pay {
  height: 400px;
  padding: 20px;
  background-color: #ffffff;
}

.modal-div .flex-buttons,
.modal-div-pay .flex-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.modal-div .flex-center,
.modal-div-pay .flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-div .flex-center .form-save,
.modal-div-pay .flex-center .form-save {
  margin-top: 60px;
}

.modal-div .flex-center .desc,
.modal-div-pay .flex-center .desc {
  text-align: center;
  font-family: Lexend;
  font-weight: bolder;
  font-size: 1.8rem;
  color: #083e9e;
  margin-top: -30px;
  line-height: 30px;
}

.modal-div .flex-between,
.modal-div-pay .flex-between {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.modal-div .flex-between .icon,
.modal-div-pay .flex-between .icon {
  cursor: pointer;
  color: #083e9e;
  font-size: 1.7rem;
}

.modal-div .form-save,
.modal-div-pay .form-save {
  padding: 50px 20px 50px 20px;
}

.modal-div .form-save .info-header,
.modal-div-pay .form-save .info-header {
  margin-bottom: 50px;
}

.modal-div .form-save .desc,
.modal-div-pay .form-save .desc {
  margin-top: -10px;
}

.modal-div .form-save label,
.modal-div-pay .form-save label {
  margin-bottom: 15px;
}

.modal-div .form-save #icon,
.modal-div-pay .form-save #icon {
  color: #083e9e;
}

.modal-div .drops,
.modal-div-pay .drops {
  margin-top: 5px;
}

.modal-div .auth-input,
.modal-div-pay .auth-input {
  width: 100%;
  padding: 15px;
  font-size: 1.3rem;
  height: 50px;
  margin: 5px 0 10px 0;
  border-radius: 10px;
  background-color: #ccdfe6;
}

.modal-div .auth-input input,
.modal-div-pay .auth-input input {
  border: none;
  background-color: transparent;
  width: 100%;
}

.modal-div .auth-input input:focus,
.modal-div-pay .auth-input input:focus {
  outline: none;
}

.modal-div .auth-button,
.modal-div-pay .auth-button {
  padding: 15px 20px 15px 20px;
  border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-color: #083e9e;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  border: none;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
  margin-top: 10px;
}

.modal-div .auth-button:hover,
.modal-div-pay .auth-button:hover {
  background-color: #062863;
}

.modal-div .auth-button:focus,
.modal-div-pay .auth-button:focus {
  outline: none;
}

.modal-div .auth-button:disabled,
.modal-div-pay .auth-button:disabled {
  cursor: not-allowed;
}

.modal-div .cancels,
.modal-div-pay .cancels {
  background-color: transparent;
  border: 1px solid #083e9e;
  color: #083e9e;
}

.modal-div .cancels:hover,
.modal-div-pay .cancels:hover {
  color: #ffffff;
}

.auth-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-weight: 500;
  font-size: 1.1rem;
  border: 1px solid #083e9e;
  padding: 15px 20px 15px 20px;
  border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  margin-top: 15px;
  height: 50px;
  cursor: pointer;
}

.auth-options #icon {
  font-size: 1.3rem;
}

.confirm-payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .flex-between {
    gap: 10px;
  }
}
/*# sourceMappingURL=styles.css.map */