@import "../../sass-styles/breakpoints";
@import "../../sass-styles/mixins";
@import "../../sass-styles/variables";

.auth-invest {
  height: 500px;
  width: 100%;
  @include flex-center;
  flex-direction: column;

  h3 {
    color: $secondary-color;
    font-size: 2em;
  }
}

.text-base {
  margin-top: -10px;
  font-family: Lexend;
}
