@import "../../sass-styles/breakpoints";
@import "../../sass-styles/mixins";
@import "../../sass-styles/variables";

.auth-invest {
  height: 500px;
  width: 100%;
  @include flex-center;
  flex-direction: column;
  padding: 20px;

  h3 {
    color: $secondary-color;
    font-size: 2em;
    text-align: center;
  }

  p {
    text-align: center;
  }
}

.text-base {
  margin-top: -10px;
  font-family: Lexend;
}

@include media-sm {
  .auth-invest {
    margin-left: -5px;
  }
}
